# 1. Import data 
## 1.1. Import libraries

In [17]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Embedding
from tensorflow.keras.models import Sequential

## 1.2. Import CSV file

In [84]:
# Load the dataset into a Pandas dataframe
df = pd.read_csv('dataset.csv')

# Make 2 copy of current dataframe for each approach
df_cb = df.copy()
df_dl = df.copy()
# minimize the csv file
mini_df = df[(df['article_id'] > 290000000) & (df['article_id'] < 390000000)]

In [85]:
# Check for null values
df_cb.dtypes

article_id                       int64
product_code                     int64
prod_name                       object
product_type_no                  int64
product_type_name               object
product_group_name              object
graphical_appearance_no          int64
graphical_appearance_name       object
colour_group_code                int64
colour_group_name               object
perceived_colour_value_id        int64
perceived_colour_value_name     object
perceived_colour_master_id       int64
perceived_colour_master_name    object
department_no                    int64
department_name                 object
index_code                      object
index_name                      object
index_group_no                   int64
index_group_name                object
section_no                       int64
section_name                    object
garment_group_no                 int64
garment_group_name              object
detail_desc                     object
dtype: object

In [86]:
# Check for dataframe columns type
mini_df.dtypes

article_id                       int64
product_code                     int64
prod_name                       object
product_type_no                  int64
product_type_name               object
product_group_name              object
graphical_appearance_no          int64
graphical_appearance_name       object
colour_group_code                int64
colour_group_name               object
perceived_colour_value_id        int64
perceived_colour_value_name     object
perceived_colour_master_id       int64
perceived_colour_master_name    object
department_no                    int64
department_name                 object
index_code                      object
index_name                      object
index_group_no                   int64
index_group_name                object
section_no                       int64
section_name                    object
garment_group_no                 int64
garment_group_name              object
detail_desc                     object
dtype: object

In [87]:
mini_df.shape

(1260, 25)

In [88]:
df_cb.describe()

,article_id,product_code,product_type_no,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no
count,1.055420e+05,105542.000000,105542.000000,1.055420e+05,105542.000000,105542.000000,105542.000000,105542.000000,105542.000000,105542.000000,105542.000000
mean,6.984246e+08,698424.563378,234.861875,1.009515e+06,32.233822,3.206183,7.807972,4532.777833,3.171534,42.664219,1010.438290
std,1.284624e+08,128462.384432,75.049308,2.241359e+04,28.086154,1.563839,5.376727,2712.692011,4.353234,23.260105,6.731023
min,1.087750e+08,108775.000000,-1.000000,-1.000000e+00,-1.000000,-1.000000,-1.000000,1201.000000,1.000000,2.000000,1001.000000
25%,6.169925e+08,616992.500000,252.000000,1.010008e+06,9.000000,2.000000,4.000000,1676.000000,1.000000,20.000000,1005.000000
50%,7.022130e+08,702213.000000,259.000000,1.010016e+06,14.000000,4.000000,5.000000,4222.000000,2.000000,46.000000,1009.000000
75%,7.967030e+08,796703.000000,272.000000,1.010016e+06,52.000000,4.000000,11.000000,7389.000000,4.000000,61.000000,1017.000000
max,9.594610e+08,959461.000000,762.000000,1.010029e+06,93.000000,7.000000,20.000000,9989.000000,26.000000,97.000000,1025.000000

In [89]:
print(len(mini_df))

1260

**Approach 1: Content-based**

In [90]:
# Define the ResNet50 model

**Approach 2: Deep Learning**

In [91]:
mini_df.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
724,290022001,290022,Boris cap,69,Cap/peaked,Accessories,1010016,Solid,9,Black,...,Men Sport Acc,S,Sport,26,Sport,22,Men H&M Sport,1019,Accessories,Cap in ventilating mesh with an adjustable pla...
725,290519008,290519,Basic co/fl cardigan,245,Cardigan,Garment Upper body,1010016,Solid,8,Dark Grey,...,Baby basics,G,Baby Sizes 50-98,4,Baby/Children,44,Baby Essentials & Complements,1002,Jersey Basic,Cardigan in soft organic cotton sweatshirt fab...
726,290519011,290519,Basic co/fl cardigan,245,Cardigan,Garment Upper body,1010016,Solid,82,Turquoise,...,Baby basics,G,Baby Sizes 50-98,4,Baby/Children,44,Baby Essentials & Complements,1002,Jersey Basic,Cardigan in soft organic cotton sweatshirt fab...
727,290519014,290519,Basic co/fl cardigan,245,Cardigan,Garment Upper body,1010001,All over pattern,73,Dark Blue,...,Baby basics,G,Baby Sizes 50-98,4,Baby/Children,44,Baby Essentials & Complements,1002,Jersey Basic,Cardigan in soft organic cotton sweatshirt fab...
728,290519017,290519,Basic co/fl cardigan,245,Cardigan,Garment Upper body,1010016,Solid,52,Pink,...,Baby basics,G,Baby Sizes 50-98,4,Baby/Children,44,Baby Essentials & Complements,1002,Jersey Basic,Cardigan in soft organic cotton sweatshirt fab...

In [94]:
# get all images
image_path = './images' 
image_names = df['article_id'].apply(lambda x: "0" + str(x))
images = []
for image_name in image_names:
    # Read the image file and decode the image data
    first_three_chars = image_name[3:]
    image_data = tf.io.read_file(image_path + '/' + first_three_chars + image_name)
    image = tf.image.decode_image(image_data)
    
    # Add the image tensor to the list
    images.append(image)
print(images)

NotFoundError: {{function_node __wrapped__ReadFile_device_/job:localhost/replica:0/task:0/device:CPU:0}} NewRandomAccessFile failed to Create/Open: ./images/87750150108775015 : The system cannot find the path specified.
; No such process [Op:ReadFile]